.posts{
    background-color: rgb(245, 245, 245);
    margin-bottom: 10px;
    flex-wrap: wrap;

}

.posts .post{
    width: calc(50% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    margin-left:1px;
    max-width: 100%;
}

.posts .post img{
    height: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
    object-fit: cover;
}

.posts h1{
    font-family: 'Ubuntu Mono', monospace;
}

.posts p {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 23px;
}

.posts .authorAndDate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.posts .authorAndDate span:nth-child(1) {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
 }
 .posts .authorAndDate span:nth-child(2) {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
 }

 /* Responsive area */
 
@media(max-width:1100px){
    .posts .post {
       width: 100%;
    }
    .posts .post:nth-child(2n) {
       transition: all 0.5s;
    }
 }