.topbar {
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(194,223,253);
 }

 .topbar .left,
 .topbar .right {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    :visited { color: rgb(0, 0, 0); }
 }
 .topbar .left i{
    font-size: 1.3rem;
 }
 
 .topbar .center {
    flex: 6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    :visited { color: rgb(0, 0, 0); }
 }
 
 .topbar .right span img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
 }

 .topbar .center{
   font-size: 19px;
 }